<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script>
        $(document).ready(function (){
            $.ajaxSetup({
                timeout: 2000
            });

            var list_ips = {{ips|safe}};
            var prod_name = '{{restaurant.name}}';
            var prod_price = '{{restaurant.price}}';
            var producte = ['',''];

            $.each(list_ips, function(index, ips) {
                console.warn(ips);
                $.ajax({
                    url: "http://"+ips+":8080/api/restaurants",
                    success: function(result){
                        $("#div1").append("Al web http://"+ips+":8080/").append($("<br />"));
                        $.each(result.results, function(index,restaurant){
                            if (restaurant.name == prod_name){
                                producte[0] = restaurant.name;
                                producte[1] = restaurant.price.toString();
                                $("#div1").append(producte[0]).append(" ").append(producte[1]).append("€").append($("<br/>"));
                                $("#div1").append($("<br/>"));
                            }
                        });
                    }
                });
            });
        });
    </script>
</head>
<body>

<div id="div1"><h2>COMPARATOR OF PRICES</h2></div>

<div id="div2">
    <h3>Comments on the podruct</h3>
    {% if comments %}
        <ol>
        {% for comment in comments %}
            <li>
                <pre>USERNAME: {{comment.user}} <br> COMMENT: {{comment.comment}}</pre>
            </li>
            <br>
        {% endfor %}
        </ol>
    {% else %}
        <p>There are no comments on the product.</p>
    {% endif %}
</div>

</body>
</html>
