<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <style>
        body{margin-top:20px;}

        .comment-wrapper .panel-body {
            max-height:650px;
            overflow:auto;
        }

        .comment-wrapper .media-list .media img {
            width:64px;
            height:64px;
            border:2px solid #e5e7e8;

        }

        .comment-wrapper .media-list .media {
            border-bottom:1px dashed #efefef;
            margin-bottom:25px;
        }
        .media-list {
            background: white;
        }
        .button_reserva {
            font-size: 24px;
        }
       

    </style>
</head>
<body>

    {% extends 'forkilla/base.html' %}

    {% block content %}
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    


<!-- Page Content -->
<div class="container">

        <!-- Portfolio Item Heading -->
        <h1 class="my-4"> {{ restaurant.name }}
          <small>{{restaurant.category}}</small>
        </h1>
      
        <!-- Portfolio Item Row -->
        <div class="row">
      
          <div class="col-md-8">
                {% if restaurant.featured_photo %}
                    <img src="{{ person.image.url }}">
                {% else %}
                    <img src="http://placehold.it/500x300">
                {% endif %}
            </div>

          
          <div class="col-md-4">
            <h3 class="my-3">Description</h3>
            <p>{{restaurant.menu_description}}</p>
            <h3 class="my-3">Rate</h3>
            <h2 class="bold padding-bottom-7">{{restaurant.rate}} <small>/ 10</small></h2>
            <h3 class="my-3">Price average</h3>
            <p>{{restaurant.price_average}} €</p>
            <h3 class="my-3">Address</h3>
            <p>{{restaurant.address}}</p>
            <p>{{restaurant.city}}</p>
            <p>{{restaurant.country}}</p>
  

            <form action="{% url 'reservation'%}" method="get">

                <button class="button_reserva" type="submit" name="reservation" value={{restaurant.restaurant_number}}> Reserva</button>
            </form>

            
          </div>
      
        </div>
        <!-- /.row -->
      
        
      
      </div>
      <!-- /.container -->





      <div class="row bootstrap snippets">
            <div class="col-md-6 col-md-offset-2 col-sm-12">
                <div class="comment-wrapper">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Review section
                        </div>
                        <div class="panel-body">
   
                            {% if authenticated %}
                            <form method="POST" >
                                    {% csrf_token %}
                                    {{ reviewForm.as_p }}
                                    <input type="submit" name="dsubmit" id="commentSubmit" value="Submit Comment">
                                </form>
                    {% else %}
                      <p>Log in to leave a review</p>
                    {% endif %}


                            <div class="clearfix"></div>
                            <hr>
                            <div>
                            <ul class="media-list">

                                {% if reviews %}
                                    {% for review in reviews reversed%}
                                            <li class="media">
                                                <a href="#" class="pull-left">
                                                    <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
                                                </a>
                                                <div class="media-body">
                                                    <span class="text-muted pull-right">
                                                        <small class="text-muted">30 min ago</small>
                                                    </span>
                                                    <strong class="text-success">{{review.author}}</strong>
                                                    <p>
                                                        {{review.message}}
                                                        <h2 class="bold padding-bottom-7">{{review.rate}} <small>/ 10</small></h2>
                                                    </p>
                                                </div>
                                            </li>

                                    {% endfor %}
                                {% else %}
                                    </br>
                                    <h3 class="my-3">No reviews yet</h3>
                                {% endif %}

                                
                                
                            </ul>
                        </div>
                        </div>
                    </div>
                </div>
        
            </div>
        </div>
        

        
    {% endblock %}
</body>
</html>